* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
}


/* Header Css */
.menu{
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
}
.header-banner {
    background: #FFF8F3;
    width: 1600px;
    height: 837px;
    background-image: url("/images/header_bg.png") , url("/images/developer.png");
    background-repeat: no-repeat , no-repeat;
    background-position: bottom right , left;
    /* background-image: url("/images/developer.png");
    background-position: left; */
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 10px;
}

#span-color {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-left: 150px;
}

nav>ul>li {
    list-style: none;
    margin: 20px;
    

}
ul li a {
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #181818;

}
.btn-main {
    border-radius: 5px;
    background: #FD6E0A;
    padding: 13px 25px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
}
.btn-main a{
    color: #fff;
}

.man-img{
    position: absolute;
    top:160px;
    right:200px; 
}
.text{
    margin-left: 210px;
    margin-top: 200px;
}
.text h1 , h2{
    color: var(--Dark-01, #181818);
    font-size: 75px;
    font-weight: 600;

}
.text h2{
    font-size: 45px;
    color: var(--Dark-02, #474747);
}
.text p{
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    padding-bottom: 30px;
}
.btn-div{
    display: flex;
    gap: 20px;

}
.btn-div a{
    text-decoration:none ;

}
.contact-btn{
    background: #FFF8F3;
    padding: 13px 35px;
    border-radius: 5px;
    border:1px solid #FD6E0A;
}
.contact-btn a{
    color: #FD6E0A;
    font-size: 18px;
    font-weight: 700;
}

/* About Me */
.about-me {
    width: 1140px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: auto;
    margin-top: 100px;
    }
.about-me h1{
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-top: 80px;
    padding-bottom: 30px;
}
.about-me p{
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.info-div{
    display: flex;
    gap: 70px;
    justify-content: center;
    padding: 40px;
    padding-bottom: 100px;
}
.info-div h3{
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 150% */

}
.info-div p{
    color: var(--Dark-02, #474747);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

/* What I Do section Css */
.what-do-sec{
    width: 1140px;
    order: 1px soli black;
    margin: auto;
    margin-top: 100px;
}
.what-do-sec h1{
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 30px;

}
.what-do-sec p{
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    padding-bottom: 30px;
}
.do-info-div{
  display: flex;
}
.skill-info-div{
    
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin: 15px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right:15px ;
    
}
.skill-info-div h4{
    color:var(--Dark-01, #181818);
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 15px;
    
}
.skill-info-div P{
    color: var(--Dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; /* 175% */
    text-align: left;
}